body {
    margin: 0;
    padding: 0;
    min-width: 1440px;
    background: #E5E5E5;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #211E1D;
}

.content {
    width: 1340px;
    margin: 0 auto;
}

.invisible {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 135px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #211E1D;
    padding: 5px;
}

p {
    margin: 0;
}

.header-nav, .header-nav-end {
    display: flex;
}

.header-nav-unit, .header-nav-end-unit {
    margin-right: 20px;
}

.header-nav-unit:last-child, .header-nav-end-unit:last-child {
    margin-right: 0;
}

.icon-button {
    padding: 15px 5px 5px 5px;
}

.title {
    margin: 0 0 70px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 48px;
}

.filters-hub {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
}

.filter-labels {
    grid-row: 1;
    font-family: Manrope;
    color: #211E1D;
}

.filter {
    height: 40px;
    color: #B0B1B3;
    font-family: Manrope;
    border: none;
    border-bottom: solid #B0B1B3 1px;
    background: transparent url("photos/icons/arrow.svg") no-repeat 98% 50%;
    appearance: none;
    outline:none;
}

.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px 20px;
    margin-bottom: 80px;
}

.card {
    display: grid;
    grid-template-columns: 1fr auto;
}

.photo-card {
    grid-column: span 2;
    margin-bottom: 22px;
}

.title-card {
    grid-row-start: 2;
    margin: 0;
    font-size: 16px;
    font-family: Manrope;
}

.price-card {
    grid-row: 3;
    margin: 0;
    font-family: Manrope;
    font-size: 16px;
}

.favourite-card {
    padding: 0;
}

.load-more-container {
    display: flex;
    justify-content: center;
}

.load-more {
    width: 325px;
    height: 75px;
    margin-bottom: 100px;
    background: transparent;
    border: 1px solid #211E1D;
    cursor: pointer;
    transition-duration: 200ms;
}

.load-more:hover {
    background: rgba(28, 28, 28, 0.15);
}

.load-more:active {
    background: rgba(28, 28, 28, 0.36);
    color: rgb(246, 246, 246);
}

footer {
    display: flex;
    height: 245px;
    background: #DEDBD9;
}

.footer-content {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 350px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 125px;
    height: 105px;
    margin: auto;
    align-content: center;
}

.politics {
    padding-left: 0;
}

.footer-info {
    grid-row: 2 / 4;
}

.footer-content > a {
    padding: 5px;
}

.phone-number {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: end;
}

.mail {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
}

.socials {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: start;
    padding-top: 5px
}

.footer-content > .footer-logo {
    padding: 0;
    align-self: end;
}

.company-name {
    margin-bottom: 10px;
}

.first-page {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    align-self: end;
}

.second-page {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    align-self: center;
}

.third-page {
    grid-row: 3 / 3;
    grid-column: 3 / 4;
    align-self: start;
}

.feedback-form {
    grid-row: 1 / 3;
    margin-top: 15px;
}

.footer-inputs {
    position: relative;
}

.footer-inputs > input {
    height: 40px;
    width: 350px;
    margin-top: 35px;
    border: none;
    border-bottom: 1px solid #211E1D;
    background: transparent;
    outline: none;
}

.footer-inputs > button {
    position: absolute;
    top: 60%;
    right: 0%;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}